<!-- Start Forget Password Page -->
<div class="forget-password" ng-controller="forgetPasswordController">
    <div class="title color-c4">{{'input-email-reset-pw'|translate}}</div>
    <form name="form" ng-submit="forget()">
        <div class="input-form" ng-class="{'validate-error': form.email.$dirty && form.email.$error.email && !emailFocus}">
            <input type="text" name="email" id="email" ng-model="email"  ng-focus="emailFocus = true" ng-blur="emailFocus = false" placeholder="{{'email'|translate}}" required validate-email/>
        </div>
        <span ng-show="form.email.$dirty && form.email.$error.specialChar && form.email.$viewValue && !emailFocus" class="font-13 color-c7">{{'email-special-char'|translate}}</span>
       	<br ng-if="form.email.$dirty && form.email.$error.specialChar && form.email.$error.email && !emailFocus"><span ng-show="form.email.$dirty && form.email.$error.email && form.email.$viewValue && !emailFocus" class="font-13 color-c7">{{'email-format'|translate}}</span>

      <div class="action text-center">
			<button type="submit" class="btn appsdollar-btn appsdollar-btn-green" ng-disabled="form.$invalid || dataLoading" >{{'submit' | translate }}</button>
		</div>
    </form>
</div>
<!-- End Forget Password Page -->
