<div class="text-center block-container barcode-redeem">
    <div class="modal-popup-header">
    	<div class="appsdollar-font" translate="barcode-redeem-msg"></div>
    </div>
    <div class="modal-popup-body">
    	<div id="barcode"></div>
    </div>
    <div class="modal-popup-footer">
        <button class="btn appsdollar-btn appsdollar-btn-green" type="button" ng-click="getCode()">{{'regenerate' | translate}}</button>
        <button class="btn appsdollar-btn appsdollar-btn-green" type="button" ng-click="cancel()">{{'ok' | translate}}</button>
    </div>
</div>
