<div class="text-center block-container">
    <div class="modal-popup-header">
    	<span class="icon appClose" ng-click="cancel()"></span>
    	<div class="appsdollar-font color-c1">{{'password-redeem-msg' | translate: values }}</div>
    </div>
	  <form name="password">
	    <div class="modal-popup-body">
		    	<span class="password-redeem-input"><input type="password" ng-model="password1" id="pw1" maxlength="1" move-next-on-maxlength required></input></span>
		    	<span class="password-redeem-input"><input type="password" ng-model="password2" id="pw2" maxlength="1" move-next-on-maxlength required></input></span>
		    	<span class="password-redeem-input"><input type="password" ng-model="password3" id="pw3" maxlength="1" move-next-on-maxlength required></input></span>
		    	<span class="password-redeem-input"><input type="password" ng-model="password4" id="pw4" maxlength="1" move-next-on-maxlength required></input></span>
		    	<span class="password-redeem-input"><input type="password" ng-model="password5" id="pw5" maxlength="1" required></input></span>
	    </div>
	    <div class="modal-popup-footer">
	        <button class="btn appsdollar-btn appsdollar-btn-green" type="button" ng-click="redeem()" ng-disabled="password.$invalid">{{'ok' | translate}}</button>
	    </div>
	</form>
</div>
