<div class="text-center block-container">
    <div class="modal-popup-header">
    	<span class="icon appClose" ng-if="type == 'warning'" ng-click="cancel()"></span>
    	<img ng-if="type == 'error'" src="img/error.svg">
    	<div ng-if="type != 'error'" class="font-24 appsdollar-font color-c1">{{message.title}}</div>
    </div>
    <div class="modal-popup-body" ng-class="{red : type == 'error'}" ng-if="message.content">{{message.content}}</div>
    <div class="modal-popup-footer">
        <button class="btn appsdollar-btn appsdollar-btn-green" type="button" ng-click="ok()">{{'ok' | translate}}</button>
    </div>
</div>
